<h1>ic-draggable</h1>

{{ic-draggable-css}}

{{#ic-draggable class="card"}}
  plain
{{/ic-draggable}}

{{#ic-draggable class="card" snap=100 left=350}}
  snap=100
{{/ic-draggable}}

{{#ic-draggable
  class="card"
  revert=false
  horizontal=false
  left=700}}
  revert=false horizontal=false
{{/ic-draggable}}

